{% extends '@admin/layout.twig' %}

{% block title "Editer les produits" %}

{% block body %}

    <p class="text-right">
        <a href="{{ path(routePrefix ~ '.create') }}" class="btn btn-primary">
            Ajouter un produit
        </a>
    </p>

    <table class="table table-striped">
        <thead>
           <tr>
               <th>Titre</th>
               <th>Prix</th>
               <th>Actions</th>
           </tr>
        </thead>
        <tbody>
        {% set token_input = csrf_input() %}
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.price | number_format(2, ',') }}</td>
                <td>
                    <a href="{{ path(routePrefix ~ '.edit', {'id': item.id }) }}" class="btn btn-primary">Editer</a>
                    <form action="{{ path(routePrefix ~ '.delete', {'id': item.id }) }}" method="POST" style="display: inline" onsubmit="return confirm('Etre vous sur ?')">
                        {{ token_input | raw }}
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{{ paginate(items, routePrefix ~ '.index') }}

{% endblock %}